
# Database
DATABASE_URL="prisma://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiNWUwYWU4MWYtODc1YS00NzQ0LWI1NWQtODAxNmJjMTcxYjMxIiwidGVuYW50X2lkIjoiZTlhMmFlNDlhYTg5ZTMxNDY2OWM2NzU3NTlhOTc4NTc3MzhiZDA2MTQ5NjY5MTRhMzc3Y2FmZGU1Njg2MDdlOCIsImludGVybmFsX3NlY3JldCI6IjFiYTIyZTQ5LTRmNDItNGJlZS1iOTE1LWU3NWZjMmQ0MjBjNyJ9.23PooTY-FZij7xfzcoFn2ZCQe0Bn7Ckqmv4Q4kWd-rY"

DIRECT_URL="mongodb+srv://monirhrabby:monirhrabby@cluster0.gex7fg9.mongodb.net/db"


# UPLOADTHING
UPLOADTHING_SECRET="sk_live_b1aa282eb13680d39c4478553422eb69934e7f5c67daab09a1e9d1dd15aa5716"
UPLOADTHING_APP_ID="rm98n1s6rp"

# CLERK
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL="/dashboard"
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_cmVzdGVkLXBvc3N1bS01Ny5jbGVyay5hY2NvdW50cy5kZXYk"
CLERK_SECRET_KEY="sk_test_adfAxxc34yRcwAXfqM33NDqVkfSiLmCxEWj0ZPxOR9"
NEXT_PUBLIC_CLERK_SIGN_IN_URL="/sign-in"
NEXT_PUBLIC_CLERK_SIGN_UP_URL="/sign-up"
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL="/wizerd"

